// Custom styles.

body {
  background            : url(/images/bg.jpg);
  background-size       : cover;
  background-repeat     : no-repeat;
  background-attachment : fixed;
  background-position   : center;
}

.header-inner{
  background: #ffffffe8;
  opacity   : 1;
}

.main-inner{
  margin-top : 60px;
  padding    : 60px 60px 60px 60px;
  background : #fff;
  opacity    : 0.9;
  min_height : 500px;
}

#footer a {
  color: #eee;
}
